@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell-size: 32px;
  --common-padding: 8px;
  --common-margin: 16px;
  --title-font: "Libre Baskerville", serif;
  --screen-font: "Roboto", sans-serif;

  --base-blue: #207DFF;
  --light-blue: #95e9f9;
  --base-green: #85EF47;
  --dark-green: #00BD56;
  --base-yellow: #F9FD50;
  --dark-yellow: #F9D923;
  --base-red: #EB5353;
  --dark-gray: #27374D;
  --base-gray: #526D82;
  --light-gray: #9DB2BF;
  --off-white: #DDE6ED;
  --cream: #EEE0C9;
}

header {
  display: flex;
  justify-content: center;
  padding: var(--common-padding);
  margin-bottom: var(--common-margin);
}

h1#title {
  font-family: var(--title-font);
  font-weight: bold;
  color: white;
}

main {
  height: 80vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;    

    background-image: url('../assets/background.jpg');
    background-position: center;
    background-size: cover;
    filter: brightness(0.7);
}

p {
    color: white;
}

/* Game table (start) */
div#game-table {
  position: relative;
  width: max-content;
  height: 100%;
  margin: auto;
  gap: 10vw;
  padding: calc(var(--common-padding) * 2) 0;
  
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, max-content);
  overflow: hidden;
}
/* Game table (end) */

/* Play board (start)*/
div.play-board {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content 1fr;
    gap: calc(var(--common-margin) * 0.5);
    width: max-content;
}

div.play-board#computer-board div#computer-grid {
  justify-self: end;
}

div.play-detail {
  width: max-content;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  justify-items: start;
  grid-template-columns: repeat(2, max-content);
  padding: var(--common-padding) calc(var(--common-padding) * 2);
  gap: var(--common-padding);
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: inset 0 0 5px 1px rgba(149, 233, 249, 0.5);
  background:  linear-gradient(transparent 5%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2) );
}

div.play-detail#player-detail {
  justify-self: end;
  margin: 0 var(--common-padding) 0 0;
  grid-template-areas: 
  "name menu"
  "tally menu";
}

div.play-detail#computer-detail {
  justify-self: start;
  margin: 0 0 0 var(--common-padding); 
  grid-template-areas: 
  "menu name"
  "menu tally";
}

button.option-btn {
  grid-area: menu;
  width: max-content;
  height: 60px;
  justify-self: center;
  padding: 2px;
  border-radius: 3px;
  border: 3px outset var(--light-blue);
  box-shadow: 0 8px 8px #27374D;
  background-color: var(--light-gray);

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  position: relative;
}

button.option-btn svg.line {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  align-self: center;
}

button.option-btn svg.main-btn {
  background-color: var(--dark-gray);
  padding: 4px;
  border: 2px outset var(--light-blue);
  height: 25px;
  width: 25px;
  box-shadow: 0 5px 10px var(--dark-gray);
  fill: var(--light-blue);
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

button.option-btn:not(:disabled):hover{
  cursor: pointer;
}

button.option-btn:not(:disabled):hover svg.main-btn {
  filter: brightness(1.2);
}

button.option-btn.pressed svg.main-btn {
  transform: translateY(100%);
}

div.play-detail h2, div.tally-board {
  width: 240px;
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) );
  border-radius: 5px;
  border: 1px solid var(--base-blue);
  box-shadow: inset 0 0 10px 1px rgba(149, 233, 249, 0.5);
}

div.play-detail h2 {
  grid-area: name;
  color: var(--light-blue);
  font-family: var(--title-font);
  font-size: 1rem;
  height: 40px;
  min-width: max-content;
  text-align: center;
  padding: calc(var(--common-padding) * 0.5);
  padding: var(--common-padding);
}

/* Tally board (start)*/
div.tally-board {
  grid-area: tally;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: var(--common-padding);
}

div.tally-board > div {
  /* tally board ship units */
  width: max-content;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.tally-board div.carrier {
background-image: url(../assets/carrier-tally.png);
background-size: 95% 95%;
}

div.tally-board div.carrier.sunk {
  background-image: url(../assets/carrier-sunk.png);
}

div.tally-board div.battleship {
background-image: url(../assets/battleship-tally.png);
}

div.tally-board div.battleship.sunk {
  background-image: url(../assets/battleship-sunk.png);
}

div.tally-board div.destroyer {
  background-image: url(../assets/destroyer-tally.png);
}

div.tally-board div.destroyer.sunk {
  background-image: url(../assets/destroyer-sunk.png);
}

div.tally-board div.submarine {
  background-image: url(../assets/submarine-tally.png);
}

div.tally-board div.submarine.sunk {
  background-image: url(../assets/submarine-sunk.png);
}

div.tally-board div.patrol-boat {
  background-image: url(../assets/patrol-boat-tally.png);
}

div.tally-board div.patrol-boat.sunk {
  background-image: url(../assets/patrol-boat-sunk.png);
}


div.tally-board div div.ship-cell {
  width: calc(var(--cell-size) * 0.6);
  height: calc(var(--cell-size) * 0.6);
  background-color: rgba(32, 125, 255, 0.1);
  z-index: -1;
}

/* Tally board (end)*/




/* Play board (end)*/

/* Main play board grid (start) */
div.main-grid {
    grid-area: main;
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 3px solid rgba(149, 233, 249, 0.5);
}

div.main-grid div.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid rgba(149, 233, 249, 0.2);
}


@keyframes crosshair {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

div#computer-grid div.open:hover:not([data-attacked]) {
  background-image: url(../assets/crosshair.svg);
  border: 1px solid var(--base-green);
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 189, 86, 0.3);
  animation: crosshair 3s linear infinite;
}

div.main-grid div.cell.hover {
    /* Note: hover is class added from script */
    background-color: rgba(133, 239, 71, 0.5);
    border: 1px solid var(--base-green);
}

div.main-grid div.cell.hover.invalid {
    /* Note: hover is class added from script */
    background-color: rgba(235, 83, 83, 0.5);
    border: 1px solid red;
}

div.main-grid div.cell.occupied {
    background-color: rgb(0, 200, 255, 0.5)
}

img#explosion {
  position: absolute;
  z-index: 3;
  width: calc(var(--cell-size) * 2);
  height: calc(var(--cell-size) * 2);
  object-fit: cover;
  object-position: center;
}

div.main-grid div.cell[data-attacked] {
  background-image: url(../assets/attacked.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.1s ease-in-out;
}
div.main-grid div.cell[data-attacked="missed"] {
  background-color: rgba(149, 233, 249, 0.5);
}

div.main-grid div.cell[data-attacked="hit"] {
  background-color: rgba(255, 0, 0, 0.5);
}

div.column-marker div, div.row-marker div {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.column-marker {
    grid-area: columns;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

div.row-marker {
    grid-area: rows;
    width: max-content;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

div.play-grid {
    width: max-content;
    height: max-content;
    position: relative;
    display: grid;
    grid-template-areas: 
    "rows main"
    ". columns";
    padding: var(--common-padding);
}

div.play-grid#computer-grid {
    grid-template-areas: 
    "main rows"
    "columns .";
}

div.play-grid div.ship-unit {
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr; /* this changes with JS  */
    grid-template-columns: repeat(5, 1fr); /* this changes with JS  */

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: 2;
}

div.play-grid div.ship-unit:hover {
    cursor:grab;
}

div.play-grid div.ship-unit:active {
  cursor:grabbing;
}

div.play-grid div.ship-unit div.ship-cell {
    width: var(--cell-size);
    height: var(--cell-size);
}

div.play-grid div.ship-unit.selected {
  border-radius: 5px;
  border: 3px solid var(--light-blue);
  z-index: 5;
  filter: opacity(0.8);
}

div.play-grid div.ship-unit.carrier[data-dir="up"],
div.play-grid div.ship-unit.carrier[data-dir="down"] {
    background-size: 90% 95%;
}

div.play-grid div.ship-unit.carrier[data-dir="left"],
div.play-grid div.ship-unit.carrier[data-dir="right"] {
    background-size: 95% 90%;
}

/* carrier (start) */
div.play-grid div.ship-unit.carrier[data-dir="up"] {
    background-image: url("../assets/carrier-up.png");
}

div.play-grid div.ship-unit.carrier[data-dir="down"] {
    background-image: url("../assets/carrier-down.png");
}

div.play-grid div.ship-unit.carrier[data-dir="left"] {
    background-image: url("../assets/carrier-left.png");
}

div.play-grid div.ship-unit.carrier[data-dir="right"] {
    background-image: url("../assets/carrier-right.png");
}
/* carrier (end) */

/* battleship (start) */
div.play-grid div.ship-unit.battleship[data-dir="up"] {
    background-image: url("../assets/battleship-up.png");
}

div.play-grid div.ship-unit.battleship[data-dir="down"] {
    background-image: url("../assets/battleship-down.png");
}

div.play-grid div.ship-unit.battleship[data-dir="left"] {
    background-image: url("../assets/battleship-left.png");
}

div.play-grid div.ship-unit.battleship[data-dir="right"] {
    background-image: url("../assets/battleship-right.png");
}
/* battleship (start) */

/* destroyer (start) */
div.play-grid div.ship-unit.destroyer[data-dir="up"] {
    background-image: url("../assets/destroyer-up.png");
}

div.play-grid div.ship-unit.destroyer[data-dir="down"] {
    background-image: url("../assets/destroyer-down.png");
}

div.play-grid div.ship-unit.destroyer[data-dir="left"] {
    background-image: url("../assets/destroyer-left.png");
}

div.play-grid div.ship-unit.destroyer[data-dir="right"] {
    background-image: url("../assets/destroyer-right.png");
}
/* destroyer (end) */

/* submarine (start) */
div.play-grid div.ship-unit.submarine[data-dir="up"] {
    background-image: url("../assets/submarine-up.png");
}

div.play-grid div.ship-unit.submarine[data-dir="down"] {
    background-image: url("../assets/submarine-down.png");
}

div.play-grid div.ship-unit.submarine[data-dir="left"] {
    background-image: url("../assets/submarine-left.png");
}

div.play-grid div.ship-unit.submarine[data-dir="right"] {
    background-image: url("../assets/submarine-right.png");
}
/* submarine (end) */

/* patrol-boat (start) */
div.play-grid div.ship-unit.patrol-boat[data-dir="up"] {
    background-image: url("../assets/patrol-boat-up.png");
}

div.play-grid div.ship-unit.patrol-boat[data-dir="down"] {
    background-image: url("../assets/patrol-boat-down.png");
}

div.play-grid div.ship-unit.patrol-boat[data-dir="left"] {
    background-image: url("../assets/patrol-boat-left.png");
}

div.play-grid div.ship-unit.patrol-boat[data-dir="right"] {
    background-image: url("../assets/patrol-boat-right.png");
}
/* patrol-boat (end) */

/* Main play board grid (end) */


/* HUD (start) */
div#hud.shown {
  width: calc(12 * var(--cell-size));
  height: 600px;
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  position: absolute;
  top: 0; 
  right: 0;
  overflow: hidden;
  background-image: url(../assets/metal.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 4;
  transition: transform 0.3s ease-in-out;
}

div#hud.slide {
  transform: translateX(100vw);
}

div#hud.hidden {
  display: none;
}

div#hud div#hud-container {
  width: 100%;
  height: 100%;
  padding: var(--common-padding);
  box-shadow: inset 0 0 10px 1px rgba(149, 233, 249, 0.8);
  background-color: rgba(82, 109, 130, 0.8);

  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 40% 60%;
  grid-template-rows: max-content max-content max-content 1fr 1fr;
  gap: var(--common-padding);
  grid-template-areas:
    "back-hud ." 
    "screen screen"
    "choice choice"
    "help action"
    ". start";
}

div#help-screen {
  grid-area: screen;
  width: 330px;
  height: 230px;
  overflow: hidden;
  background: radial-gradient(rgb(50, 68, 93, 0.8) 20%, rgba(39, 55, 77, 0.8) 40%, rgba(0, 0, 0, 0.8));;
  border-radius: 10px;
  border: 1px solid var(--base-blue);
  box-shadow: 0 0 10px 4px #27374D;
}

div#help-screen div#help-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--common-padding);

  height: 100%;
  width: 100%; 
  background-image: url(../assets/crt.png);
  background-position: center;
  
  box-shadow: inset 0 0 10px 2px rgba(149, 233, 249, 0.7);
}

div#help-screen div#help-container.closed {
  background: radial-gradient(#32445d 20%, #27374D 40%, black);
}

div#help-message {
  height: 100%;
  width: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  background-color: rgba(149, 233, 249, 0);
  transition: 
    height 0.2s ease-in-out, 
    width 0.2s ease-in-out, 
    background-color 0.2s ease-in-out,  
    border-radius 0.2s ease-in-out;
}

div#help-message.closed {
  height: 0;
  width: 0;
  border-radius: 100%;
  background-color: #95e9f9;
}

div#help-screen p.instruction {
  font-family: var(--screen-font);
  font-size: 1rem;
  display: inline-block;
  margin-left: 1rem;
  text-align: start;
  text-indent: -1rem;
  color: var(--light-blue);
  text-shadow: 0 0 3px rgba(149, 233, 249, 0.8);
  margin-bottom: 3px;
}

div#choice-btns {
  grid-area: choice;
  width: 100%;
  height: max-content;

  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
  justify-items: center;
  gap: calc(var(--common-margin) * 2);
}

button.choice-btn {
  font-size: 1.2rem;
  font-family: var(--screen-font);
  font-weight: bold;
  color: var(--dark-gray);
  text-shadow: 0 0 3px white;
  text-align: center;
  width: 100px;
  border: none;
  border-radius: 20px;
  padding: calc(var(--common-padding) * 0.5);
  border: 3px outset #526D82;
  box-shadow: 0 8px 8px #27374D;
  filter: brightness(0.8) sepia(0.3);
  transition: filter 0.2s ease-in-out;
}

button.choice-btn:active {
  transform: scale(0.95);
}

button.choice-btn:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

button.choice-btn#yes {
  border-color: white;
  background: radial-gradient(circle, #EEE0C9, #85EF47 25%, #00BD56 50%);
}

button.choice-btn#no {
  border-color: white;
  background: radial-gradient(circle, #EEE0C9, #EB5353 25%, #e73636 50%);
}

div#action-btns {
  grid-area: action;
  border: 3px inset var(--dark-gray);
  padding: 5px;
  border-radius: 5px;
  height: 100%;
  width: 90%;
  justify-self: start;

  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    ". ."
    "surrender random";
}

div.button-lock {
  width: max-content;
  height: max-content;
  filter: opacity(0.3);
}

div.button-lock svg {
  width: 15px;
  height: 15px;
  filter: drop-shadow(0 0 2px white);
}

div.button-lock svg path {
  fill: var(--base-red);
}

div.button-lock.lock {
  filter: opacity(1);
}

button#surrender {
  grid-area: surrender;
}

button#start-btn {
  grid-area: start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--common-padding);

  width: max-content;
  height: max-content;

  padding: var(--common-padding);
  border: 5px outset #FFDEDE;
  border-radius: 5px;

  background-color: #FAF0E4;
  
  font-size: 2rem;
  color: var(--dark-gray);  
  text-shadow: 0 0px 8px #9BCDD2;
  transition: filter 0.2s ease-in-out;
}

button#start-btn svg {
  fill: var(--dark-gray);
  filter: drop-shadow(0px 0px 8px #9BCDD2);
}

button#start-btn:hover {
  filter: brightness(1.1);
}

button#start-btn:active{
  transform: scale(0.9);
}

div#help-buttons {
  grid-area: help;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px;
  align-self: center;
}

button#close-help {
  display: flex;
  height: var(--cell-size);
  width: var(--cell-size);
  padding: 0;
  background-color: #EB5353;
  border: 4px outset #e73636;
  box-shadow: 0 5px 5px #27374D;
  transition: filter 0.2s ease-in-out;
}

button#close-help svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 3px #FBA834);
}

button#close-help path {
  stroke: #f7d9af;
}

button#randomize {
  grid-area: random;
}

button#back-hud {
  grid-area: back-hud;
  width: calc(var(--cell-size) * 1.3);
  height: calc(var(--cell-size) * 1.3);
  border-radius: 50%;
  padding: var(--common-padding);
  justify-self: start;
  margin-left: var(--common-margin);
  border: 4px outset #084397;
  background: radial-gradient(#DDE6ED 5%, #95e9f9 10%, #207DFF 70%, #084397);
}

button#back-hud svg {
  width: 100%;
  height: 100%;
  fill: #084397;
} 

button.hud-btn {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content 1fr;
  justify-items: center;
  align-items: center;
  gap: 5px;

  padding: calc(var(--common-padding) * 0.8);
  border: 5px outset var(--light-blue);
  border-radius: 8px;
  box-shadow: 0 8px 8px #27374D;

  width: 80px;
  height: 85px;

  font-size: 0.8rem;
  color: var(--light-blue);
  text-shadow: 0 0 8px var(--light-blue);
  background-color: var(--dark-gray);
  
  transition: filter 0.2s ease-in-out;
}

button.hud-btn:not(:disabled):hover {
  cursor: pointer;
  filter: brightness(1.2);
}

button.hud-btn svg {
  width: var(--cell-size);
  filter: drop-shadow(0px 0px 3px rgba(149, 233, 249, 0.8));
}

button.hud-btn:not(:disabled):active {
  transform: scale(0.98);
}

button.hud-btn svg {
  width: calc(var(--cell-size) * 1.3);
  height: calc(var(--cell-size) * 1.3);
  fill: var(--light-blue);
  transition: filter 0.2s ease-in-out;
}

/* HUD (end) */

