* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cell-size: 40px;
    --common-padding: 8px;
    --common-margin: 16px;
}

/* Game table (start) */
div#game-table {
    display: grid;
    grid-template-columns: max-content max-content max-content;
}
/* Game table (end) */


/* Play board (start)*/
div.play-board {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: var(--common-margin);
    width: max-content;
}

div.play-detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: var(--common-margin);
    justify-self: start;
    padding: var(--common-padding);
    width: 100%;
}

/* Play board (end)*/

/* Main play board grid (start) */
div.main-grid {
    grid-area: main;
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

}

div.main-grid div.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
}

div.main-grid div.cell.hover {
    /* Note: hover is class added from script */
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px solid green;
}

div.main-grid div.cell.hover.invalid {
    /* Note: hover is class added from script */
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid red;
}

div.main-grid div.cell.occupied {
    background-color: aquamarine;
}

div.main-grid div.cell[data-attacked="missed"] {
    background-color: yellow;
}

div.main-grid div.cell[data-attacked="hit"] {
    background-color: orangered;
}

div.column-marker div, div.row-marker div {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.column-marker {
    grid-area: columns;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

div.row-marker {
    grid-area: rows;
    width: max-content;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

div.play-grid {
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-areas: 
    "rows main"
    ". columns";
    padding: var(--common-padding);
}

div.play-grid div.ship-unit {
    /* tally board ship units */
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr; /* this changes with JS  */
    grid-template-columns: repeat(5, 1fr); /* this changes with JS  */

    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.3);

    position: absolute;
    z-index: 2;
}

div.play-grid div.ship-unit div.ship-cell {
    width: var(--cell-size);
    height: var(--cell-size);
}

div.play-grid div.ship-unit.selected {
   border: 2px solid blue;
   z-index: 5;
}

div.play-grid div.ship-unit.carrier[data-dir="up"] {
    background-image: url("../assets/carrier-up.png");
}

div.play-grid div.ship-unit.carrier[data-dir="down"] {
    background-image: url("../assets/carrier-down.png");
}

div.play-grid div.ship-unit.carrier[data-dir="left"] {
    background-image: url("../assets/carrier-left.png");
}

div.play-grid div.ship-unit.carrier[data-dir="right"] {
    background-image: url("../assets/carrier-right.png");
}

div.play-grid div.ship-unit {
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-position: center;
}


/* Main play board grid (end) */

/* Tally board (start)*/
div.tally-board {
    display: flex;
    width: 100%;
    max-width: calc(9 * var(--cell-size));
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: var(--cell-size);
}

div.tally-board div {
    /* tally board ship units */
    width: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    border: 1px solid gray;
}

div.tally-board div div.ship-cell {
    width: calc(var(--cell-size) / 2);
    height: calc(var(--cell-size) / 2);
    border: 1px solid green;
}

/* Tally board (end)*/

/* HUD (start) */
div#hud {
    width: 200px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

button#start-btn {
    width: max-content;
    height: max-content;
    font-size: 1.3rem;
    padding: var(--common-padding)
}

button#start-btn:hover {
    cursor: pointer;
}

/* HUD (end) */

